* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #F55A5A;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 55px;
    padding: 20px;
}

.header--icon {
    font-size: 24px;
    color: #DADADA;
}

.header--text {
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
}

.card-section {
    padding: 25px 40px;
}

.card {
    max-width: 1250px;
    display: flex;
    padding: 25px 0;
}

.card:not(:last-child) {
    border-bottom: 1px solid #F5F5F5;
}

.card--image {
    width:200px;
    height:280px;
    object-fit: cover;
    border-radius: 5px;
}

.card--info {
    margin-left: 20px;
}

.card--location-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card--location-icon {
    color: #F55A5A;
    margin-right: 6px;
}

.card--location-country {
    text-transform: uppercase;
    color: #2B283A;
    font-size: 14px;
    letter-spacing:0.175rem;
}

.card--googleMapUrl {
    color: #918E9B;
    font-size: 14px;
}

.card--title {
    color: #2B283A;
    font-size: 32px;
    margin: 0 0 30px 0;
}

.card--date {
    color: #2B283A;
    font-weight: bold;
    font-size: 14px;
}

.card--description {
    font-weight: 400;
    font-size: 14px;
}